.badge {
	display: inline-block;
	background: url(../images/common/badge.png) center center no-repeat;
	background-size: contain;
	font-size: 9px;
	width: 18px;
	height: 18px;
	line-height: 19px;
	letter-spacing: 0;
	color: #FFF;
	text-align: center;
	transform: translateY(-6px);

}