.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000, .5);
	opacity: 0;
	transform: translateY(-100%);
	text-align: left;
	transition: opacity .5s, transform 0s .5s;
	pointer-events:none;

	.modal-close  {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 25px;
		height: 25px;
		font-size: 0;
		text-indent: 10000px;
		overflow: hidden;
		text-decoration: none;
		z-index: 6;

		&:after, &:before {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			top: 50%;
			position: absolute;
			background: #FFF;
			border-top: 2px solid $blue;
		}

		&:after {
			transform: rotate(45deg);
		}

		&:before {
			transform: rotate(-45deg);
		}
	}

	.modal-content {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #FFF;
		transform: translateY(100%);
		transition: transform .5s;
		overflow: auto;
		padding-top: 57px;
		
		
		@include respond(medium) {
			max-width: 420px;
			width: 90%;
			height: auto;
			top: 50%;
			left: 50%;
			border-radius: 10px;
			transform: translate(-50%,-50%);
			overflow: hidden;
			padding-top: 0;
		}

		&.wide {
			max-width: 420px * 2;
		}
	}

	&.active {
		transition: opacity .5s, transform 0s;
		opacity: 1;
		transform: translateY(0);
		pointer-events:auto;

		@include respond(small-only) {
			.modal-content {
				transform: translateY(0);
			}
		}
	}

	.modal-title {
		
		@include respond(small-only) {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 10;
		}

		background:$light-grey;
		line-height: 57px;
		font-size: 26px;
		padding: 0 15px;
		color: $blue;
		font-weight: 300;
		letter-spacing: 2px;
	}

	

	.modal-section {
		padding: 15px;
	}

	.modal-section-title {
		font-size: 27px;
		font-weight: bold;
		color: $blue;
		text-align: left;
		letter-spacing: 2px;
	}

	.modal-section-text {
		font-size: 25px;
		line-height: 38px;
		color: $mid-grey;
		letter-spacing: 1px;
		margin: 10px 0;
	}
}