@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-Light.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-Light.woff') format('woff'), url('../fonts/futura/FuturaStd-Light.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-LightOblique.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-LightOblique.woff') format('woff'), url('../fonts/futura/FuturaStd-LightOblique.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-LightOblique.svg#FuturaStd-LightOblique') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-Book.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-Book.woff') format('woff'), url('../fonts/futura/FuturaStd-Book.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-BookOblique.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-BookOblique.woff') format('woff'), url('../fonts/futura/FuturaStd-BookOblique.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-BookOblique.svg#FuturaStd-BookOblique') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-Medium.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-Medium.woff') format('woff'), url('../fonts/futura/FuturaStd-Medium.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-MediumOblique.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-MediumOblique.woff') format('woff'), url('../fonts/futura/FuturaStd-MediumOblique.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-MediumOblique.svg#FuturaStd-MediumOblique') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-Heavy.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-Heavy.woff') format('woff'), url('../fonts/futura/FuturaStd-Heavy.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/futura/FuturaStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/futura/FuturaStd-HeavyOblique.otf')  format('opentype'),
	     url('../fonts/futura/FuturaStd-HeavyOblique.woff') format('woff'), url('../fonts/futura/FuturaStd-HeavyOblique.ttf')  format('truetype'), url('../fonts/futura/FuturaStd-HeavyOblique.svg#FuturaStd-HeavyOblique') format('svg');
  font-weight: 700;
  font-style: italic;
}





